<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tests.Unit.Lender.Slos.Dal.Properties.Settings.Lender_SlosConnectionString"
            connectionString="Data Source=(local)\SQLExpress;Initial Catalog=Lender.Slos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>