<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Lender.Slos.Express" connectionString="Data Source=Server1;Initial Catalog=Database1;User Id=UserId1;Password=Password1;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ImportantServiceUrl" value="http://web-services.example.com/Important.Services" />
    <add key="ImportantFolderUri" value="\\server\important\folder" />
  </appSettings>
</configuration>